@using Microsoft.AspNet.Identity
@if(Session["login"]!=null)
{
    using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + Session["login"] , "Index", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })
            @*@Session["name"].ToString()*@
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off<span class="glyphicon glyphicon-log-out"></span></a></li>
    </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(" Register", "Sign_Up", "Login", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "glyphicon glyphicon-user" })</li>
        <li>@Html.ActionLink(" Login", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" ,@class= "glyphicon glyphicon-log-in" })</li>
    </ul>
}
